/* course.css */

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Course management styles */
#add-course-btn {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-course-btn:hover {
    background-color: #004d99;
}

#courses-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#courses-table th,
#courses-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#courses-table th {
    background-color: #f0f0f0;
    color: #333;
}

#courses-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#courses-table tr:hover {
    background-color: #f1f1f1;
}

#courses-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #333;
    color: white;
}

#course-form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

#course-form input[type="text"],
#course-form input[type="number"],
#course-form input[type="datetime-local"],
#course-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#course-form button {
    background-color: #0066cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#course-form button:hover {
    background-color: #004d99;
}

#modal-title {
    margin-bottom: 20px;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    color: #333;
}

/* Action buttons styles */
.action-btn {
    margin-right: 10px; /* Add margin between buttons */
    padding: 5px 10px; /* Add padding for better click area */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn {
    background-color: #4CAF50; /* Green */
    color: white;
}

.delete-btn {
    background-color: #f44336; /* Red */
    color: white;
}

.manage-content-btn {
    background-color: #008CBA; /* Blue */
    color: white;
}
button {
    padding: 3px;
    
    margin: 5px;
   
    cursor: pointer;
}

/* Adjust spacing for the "Manage Courses" button */
main h1 {
    margin-bottom: 20px; /* Add bottom margin to the header */
}

#add-course-btn {
    margin-top: 10px; /* Add top margin to the button */
    margin-bottom: 20px; /* Ensure bottom margin for spacing */
}
