* {
    box-sizing: border-box;
}

:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}


/* .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, );
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2; */

/* Common */
/* st2 bỏ gạch chân ở thẻ a */
a{
    text-decoration: none;
}

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    /* max-width: calc(100% - 48px); giới hạn chiều rộng tối đa để cách viền màn hình  */
    max-width: calc(100% - 48px);
}


.btn {
    display: inline-block;
    min-width: 118px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 16px;
    background: #171100;
    border-radius: 999px;

}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1{
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2{
    font-size: 3.8rem;
    line-height: 1.26;
}


/* Header */

.header {
   
    background: #fffcf4;
}

.header.fixed{
    position: sticky;
    top:-28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0px 8px;
}

nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

/* st1 */
.nav a {
    /* st3 padding */
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5f5b53 ;
}
/* st5 */


/* st4 */
.nav a:hover ,
.nav li.active a {
    /* dùng shawdow để tránh việc dùng thuộc tính khác khiến khi hover vào thì bị to ra hay di chuyển */
    text-shadow: 1px 0 0 currentColor; 
    color: #000;
}

/* st6 chú ý có 2 dấu :: */
.nav li.active a::after {
    content: "";
    position: absolute;
    left: 23px;
    bottom: 6px;
    display: block;
    width: 18px;
    height: 2px;
    background: #000;
    border-radius: 1px;
}

/* xử lí nút đăng nhập đăng ký */


.header .dkbtn,
.header .dnbtn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

.header .dkbtn {
    margin-right: 25px;
}

/* Hero */

.hero {
    padding-top: 56px;
    background-color: #fffcf4;

}

.hero .body {
    display: flex;
}

/* Hero left */

.hero .media-block {
    width: 48%;
    position: relative;
}



.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    /* xoá phần chân ảnh còn dư  */
    vertical-align: bottom;
}

.hero-summary {
    position:absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding:  24px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgb(0,0,0,0.05);
    border-radius: 12px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 22px;
}


.hero-summary .icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 233, 219);
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .title {
    font-weight: 600;  
    font-size: 1.8rem; 
    line-height: 1.67;
    color: #171100;

}

/* Hero right */

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;

}


.hero .desc {
    margin-top: 22px ;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53
}

.hero .cta-group {
    margin: 38px 0 48px;
}
.hero .hero-cta  {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}

.hero .stats {
    margin:8px 0 0 -28px;
}
.hero .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

/* popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    align-items: center;
    /* cho 2 nút sang bên trái có thể dùng margin-left =auto */
    justify-content: space-between;
}

.popular-top .desc {
    margin-top: 16px;
    font-size: 1.8rem;
    width: 458px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;

}

.popular-top .controls{
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color : var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    background: transparent

}






.popular-top .control-btn:hover {
    color: white; 
    background: var(--primary-color);
   
    cursor: pointer;
}

/* popular course */

.popular .course-list {
    display: flex;
    /* gap là khoảng cách giữ các khoá học  */
    gap: 30px;
    margin-top: 55px;
}

.popular .course-item{
    flex: 1;
    background-color: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}



.popular .course-item .thumb {
    width: calc(100% + 2px) ;
    height: 200px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .head ,
.popular .course-item .rating,
.popular .course-item .desc,
.popular .course-item .foot
{
    display: flex;
    /* căn giữa  align-items , đẩy sang  2 đầu justify-content  */
    align-items: center;
    justify-content: space-between
}

.popular .course-item .title a {
    font-weight: 600 ;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .rating .value{
    margin-left: 6px;
    font-size: 1.4rem;
    color: #fea31b;
    line-height: 1.86;
}

.popular .course-item .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.popular .course-item .foot {
    margin-top: 12px;
    
    
}

.popular .course-item .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .course-item .book-btn {
    border:none ;
}

.popular .course-item .book-btn:hover {
    color: white; 
    background: var(--primary-color);
}
